<!-- Menu lateral para exames - WinAudio -->
<div class="left-sidebar">
  <div style="padding: 5px; font-weight: bold;">Exames</div>
  <div>
    <a href="cadastro.html"><img src="../../assets/images/botao-dadosbasicos.png" alt="Dados Básicos"></a>
  </div>
  <div>
    <a href="via-aerea.html"><img src="../../assets/images/botao-viaaerrea.png" alt="Via Aérea"></a>
  </div>
  <div>
    <a href="via-ossea.html"><img src="../../assets/images/botao-viaossea.png" alt="Via Óssea"></a>
  </div>
  <div>
    <a href="logoaudiometria.html"><img src="../../assets/images/botao-logoaudiometria.png" alt="Logoaudiometria"></a>
  </div>
  <div>
    <a href="imitanciometria.html"><img src="../../assets/images/botao-imitanciometria.png" alt="Imitanciometria"></a>
  </div>
  <div>
    <a href="reflexo-acustico.html"><img src="../../assets/images/botao-reflexoacustico.png" alt="Reflexo Acústico"></a>
  </div>
  
  <div style="margin-top: 15px; padding: 5px; font-weight: bold; border-top: 1px solid #ddd;">Gráficos</div>
  <div>
    <a href="grafico-audiometria.html"><img src="../../assets/images/botao-grafico-audiometria.png" alt="Gráfico Audiometria"></a>
  </div>
  <div>
    <a href="grafico-imitanciometria.html"><img src="../../assets/images/botao-grafico-imitanciometria.png" alt="Gráfico Imitanciometria"></a>
  </div>
  <div>
    <a href="grafico-comparativo.html"><img src="../../assets/images/botao-grafico-comparativo.png" alt="Gráfico Comparativo"></a>
  </div>
  
  <div style="margin-top: 15px; padding: 5px; font-weight: bold; border-top: 1px solid #ddd;">Impressão</div>
  <div>
    <a href="#"><img src="../../assets/images/botao-impressao.png" alt="Impressão"></a>
  </div>
</div>
