<!-- Menu lateral (Drawer) -->
<aside class="mdc-drawer mdc-drawer--dismissible">
  <div class="mdc-drawer__header">
    <div class="user-info">
      <div class="user-avatar">
        <span class="material-icons">person</span>
      </div>
      <h3 class="mdc-drawer__title">Dr. Carlos Silva</h3>
      <h6 class="mdc-drawer__subtitle">Fonoaudiólogo</h6>
    </div>
    <img src="../../assets/images/logo.png" alt="WinAudio Logo" style="max-width: 180px;">
  </div>
  
  <div class="mdc-drawer__content">
    <nav class="mdc-list nav-menu">
      <a class="mdc-list-item" href="../../index.html">
        <span class="material-icons mdc-list-item__graphic">dashboard</span>
        <span class="mdc-list-item__text">Dashboard</span>
      </a>
      
      <!-- Menu Cadastros -->
      <a class="mdc-list-item has-submenu" href="#">
        <span class="material-icons mdc-list-item__graphic">folder</span>
        <span class="mdc-list-item__text">Cadastros</span>
        <span class="material-icons menu-expand-icon">expand_more</span>
      </a>
      <div class="submenu">
        <a class="mdc-list-item" href="../cadastros/pacientes.html">
          <span class="material-icons mdc-list-item__graphic">person</span>
          <span class="mdc-list-item__text">Pacientes</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/empresas.html">
          <span class="material-icons mdc-list-item__graphic">business</span>
          <span class="mdc-list-item__text">Empresas</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/profissionais.html">
          <span class="material-icons mdc-list-item__graphic">medical_services</span>
          <span class="mdc-list-item__text">Profissionais</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/setores.html">
          <span class="material-icons mdc-list-item__graphic">domain</span>
          <span class="mdc-list-item__text">Setores</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/patologias.html">
          <span class="material-icons mdc-list-item__graphic">local_hospital</span>
          <span class="mdc-list-item__text">Patologias</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/acompanhamentos.html">
          <span class="material-icons mdc-list-item__graphic">event_note</span>
          <span class="mdc-list-item__text">Acompanhamentos</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/cargos-funcoes.html">
          <span class="material-icons mdc-list-item__graphic">work</span>
          <span class="mdc-list-item__text">Cargos e Funções</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/convenios.html">
          <span class="material-icons mdc-list-item__graphic">content_paste</span>
          <span class="mdc-list-item__text">Convênios</span>
        </a>
        <a class="mdc-list-item" href="../cadastros/meatoscopias.html">
          <span class="material-icons mdc-list-item__graphic">hearing</span>
          <span class="mdc-list-item__text">Meatoscopias</span>
        </a>
      </div>
      
      <!-- Menu Exames -->
      <a class="mdc-list-item has-submenu" href="#">
        <span class="material-icons mdc-list-item__graphic">hearing</span>
        <span class="mdc-list-item__text">Exames</span>
        <span class="material-icons menu-expand-icon">expand_more</span>
      </a>
      <div class="submenu">
        <a class="mdc-list-item" href="../exames/cadastro.html">
          <span class="material-icons mdc-list-item__graphic">add_circle</span>
          <span class="mdc-list-item__text">Novo</span>
        </a>
        <a class="mdc-list-item" href="../exames/consultar-exames.html">
          <span class="material-icons mdc-list-item__graphic">search</span>
          <span class="mdc-list-item__text">Consultar Exames</span>
        </a>
        <a class="mdc-list-item" href="../exames/agendar-exames.html">
          <span class="material-icons mdc-list-item__graphic">event</span>
          <span class="mdc-list-item__text">Agendar Exames</span>
        </a>
        <a class="mdc-list-item" href="../exames/historico-exames.html">
          <span class="material-icons mdc-list-item__graphic">history</span>
          <span class="mdc-list-item__text">Histórico de Exames</span>
        </a>
      </div>
      <!-- Menu Parâmetros -->
      <a class="mdc-list-item has-submenu" href="#">
        <span class="material-icons mdc-list-item__graphic">settings</span>
        <span class="mdc-list-item__text">Parâmetros</span>
        <span class="material-icons menu-expand-icon">expand_more</span>
      </a>
      <div class="submenu">
        <a class="mdc-list-item" href="../parametros/usuarios.html">
          <span class="material-icons mdc-list-item__graphic">people</span>
          <span class="mdc-list-item__text">Identificação de Usuário</span>
        </a>
        <a class="mdc-list-item" href="../parametros/anamnese.html">
          <span class="material-icons mdc-list-item__graphic">assignment</span>
          <span class="mdc-list-item__text">Anamnese</span>
        </a>
        <a class="mdc-list-item" href="../parametros/audiometro.html">
          <span class="material-icons mdc-list-item__graphic">hearing</span>
          <span class="mdc-list-item__text">Audiômetro</span>
        </a>
        <a class="mdc-list-item" href="../parametros/imitanciometro.html">
          <span class="material-icons mdc-list-item__graphic">settings_input_component</span>
          <span class="mdc-list-item__text">Imitanciômetro</span>
        </a>
        <a class="mdc-list-item" href="../parametros/relatorios.html">
          <span class="material-icons mdc-list-item__graphic">description</span>
          <span class="mdc-list-item__text">Cabeçalho de Relatórios</span>
        </a>
        <a class="mdc-list-item" href="../parametros/permissoes.html">
          <span class="material-icons mdc-list-item__graphic">security</span>
          <span class="mdc-list-item__text">Permissões de Acesso</span>
        </a>
      </div>
      <!-- Menu Relatórios -->
      <a class="mdc-list-item has-submenu" href="#">
        <span class="material-icons mdc-list-item__graphic">bar_chart</span>
        <span class="mdc-list-item__text">Relatórios</span>
        <span class="material-icons menu-expand-icon">expand_more</span>
      </a>
      <div class="submenu">
        <a class="mdc-list-item" href="../relatorios/pacientes.html">
          <span class="material-icons mdc-list-item__graphic">person</span>
          <span class="mdc-list-item__text">Relatórios de Pacientes</span>
        </a>
        <a class="mdc-list-item" href="../relatorios/exames.html">
          <span class="material-icons mdc-list-item__graphic">content_paste</span>
          <span class="mdc-list-item__text">Relatórios de Exames</span>
        </a>
        <a class="mdc-list-item" href="../relatorios/estatisticos.html">
          <span class="material-icons mdc-list-item__graphic">pie_chart</span>
          <span class="mdc-list-item__text">Relatórios Estatísticos</span>
        </a>
        <a class="mdc-list-item" href="../relatorios/empresas.html">
          <span class="material-icons mdc-list-item__graphic">business</span>
          <span class="mdc-list-item__text">Relatórios por Empresa</span>
        </a>
        <a class="mdc-list-item" href="../relatorios/profissionais.html">
          <span class="material-icons mdc-list-item__graphic">medical_services</span>
          <span class="mdc-list-item__text">Relatórios por Profissional</span>
        </a>
      </div>
      <hr class="mdc-list-divider">
      
      <a class="mdc-list-item" href="../ajuda.html">
        <span class="material-icons mdc-list-item__graphic">help</span>
        <span class="mdc-list-item__text">Ajuda</span>
      </a>
      
      <a class="mdc-list-item" href="#">
        <span class="material-icons mdc-list-item__graphic">logout</span>
        <span class="mdc-list-item__text">Sair</span>
      </a>
    </nav>
  </div>
</aside>

<!-- Top App Bar -->
<header class="mdc-top-app-bar app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-icons mdc-top-app-bar__navigation-icon mdc-icon-button">menu</button>
      <span class="mdc-top-app-bar__title" id="page-title">WinAudio</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button">help</button>
      <button class="material-icons mdc-top-app-bar__action-item mdc-icon-button">account_circle</button>
    </section>
  </div>
</header>
